<div class="login-container">
    <h2>Login</h2>
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
        <div>
            <label for="userEmail">User Email</label>
            <input type="email" id="userEmail" name="userEmail" ngModel required
                pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" #userEmail="ngModel">
            <div *ngIf="userEmail.invalid && userEmail.touched">
                <p class="error-message">Valid userEmail is required.</p>
            </div>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" ngModel required minlength="8"
                pattern="(?=.*[0-9])(?=.*[!@#$%^&*])(?=.*[a-zA-Z]).{8,}" #password="ngModel">
            <div *ngIf="password.invalid && password.touched">
                <p class="error-message">Valid Password is required.</p>
            </div>
        </div>
        <button type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
    <p class="register-link">
        Don't have an account? <a routerLink="/register">Register here</a>
    </p>
</div>